/* Le header de la page */
header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    margin: 2% 9.6% 1.6% 7%;
}
header .div2header {
    width: 30%;
}
header nav ul {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
header nav ul li a {
    font-family: "beyno", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    color: white;
    text-decoration: none;
}
header div a img {
    width: 140px;
    max-width: 140px;
}

/* La première section */
.section1 {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}
.section1 .div1sec1 {
    width: 48%;
}
.section1 .div1sec1 img {
    width: 100%;
    max-width: 1400px;
}
.section1 .div2sec1 h1 {
    font-size: 3.7em;
    font-family: "beyno", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    color: #9E91B7;
    margin: 17.2% 0px 7.2% 7.2%;
}
.section1 .div2sec1 {
    width: 51.9%;
}
.section1 .div2sec1 div {
    position: relative;
    width: 100%;
}
.section1 .div2sec1 div img {
    width: 100%;
    /* max-width: 784px; */
}
.section1 .div2sec1 div p {
    width: 74.2%;
    /* max-width: 590px; */
    position: absolute;
    top: 30%;
    left: 14%;
    text-align: justify;
}

/* La deuxième section */
.section2 {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    margin: 9.6% 7.4% 9.6% 7.4%;
}
.section2 h2 {
    font-size: 2.6875em;
    font-family: "wakanda-forever", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    color: #9E91B7;
    word-spacing: 20px;
    margin: 0% 0% 6% 0%;
}
.section2 .divsec2 {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}
.section2 .divsec2 h3 {
    font-size: 1em;
    font-weight: 100;
    margin: 0px 0px 15px 0px;
}
/* partie gauche */ 
.section2 .divsec2 .div1sec2 {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    height: 450px;
    margin: 0% 15px 0% 0%;
    width: 48%;
}
.section2 .divsec2 .div1sec2 .div11sec2 p {
    font-size: 1em;
    max-width: 90%;
}
.section2 .divsec2 .div1sec2 .div11sec2 p span {
    font-family: "wakanda-forever", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    text-transform: uppercase;
}
/* La formulaire de réponse */
.section2 .divsec2 .div1sec2 .div12sec2 form {
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
    justify-content: space-between;
    width: max-content;
}
.section2 .divsec2 .div1sec2 .div12sec2 form #reponse {
    font-size: 2em;
    background-color: transparent;
    color: white;
    border: 2px solid  #F2CEF2;
    border-radius: 38px;
    width: 100%;
    height: 40px;
    padding: 0px 0px 5px 40px;
    margin: 0% 0% 10% 0%;
}
.section2 .divsec2 .div1sec2 .div12sec2 form #button {
    font-size: 1em;
    background-color: #F2CEF2;
    color: #021740;
    border: 2px solid  #F2CEF2;
    border-radius: 38px;
    width: 30%;
    height: 45px;
    margin: auto;
}
.section2 input::placeholder {
    font-size: 0.5em;
    color:  #F2CEF2;
  }
/* Le label invisible à l'écran mais visible aux lecteurs d'écran */
.section2 form .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
/* Partie droite */
.section2 .divsec2 .div2sec2 {
    position: relative;
    width: 51.9%;
}
.section2 .divsec2 .div2sec2 img {
    width: 100%;
    /* max-width: 784px; */
}
.section2 .divsec2 .div2sec2 div {
    width: 75%;
    position: absolute;
    top: 30%;
    left: 10%;
    text-align: center;
}


/*
** ANIMATION
*/
.section2 .divsec2 .div1sec2 .div12sec2 form #button:hover {
    background-color: #021740;
    color: #F2CEF2;
    transform: translateY(-3px);
    box-shadow: 0 3px 15px #F2CEF2;
}



/*
**A Nous Le RESPONSIVE DESIGN
*/
/**** Le header ****/
@media screen and (max-width: 540px) {
    header {
        margin-bottom: 0px;
    }
    header div a img {
        max-width: 120px;
    }
    header nav ul {
        flex-flow: column wrap;
        align-self: flex-end;
        gap: 3px;
    }
}


/**** La première section ****/
@media screen and (max-width: 1365px) {
    .section1 {
        background: url("illustrations_logo/enigme/Pantherenigme1_m.png") scroll no-repeat top left/contain;
    }
    .section1 .div2sec1 {
        margin-right: 0px;
        margin-left: auto;
    }
    .section1 .div1sec1 {
        display: none;
    }
    .section1 .div2sec1 {
        width: 700px;
        max-width: 700px;
    }
}
@media screen and (max-width: 1120px) {
    .section1 .div2sec1 div p {
        width: 600px;
        max-width: 100%;
        position: absolute;
        top: 32%;
        left: 6%;
        text-align: center;
    }
    .section1 .div2sec1 {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }
    .section1 .div2sec1 h1 {
        font-size: 3.7em;
        margin: 12% 0px 4% 0px;
    }
}
@media screen and (max-width: 680px) {
    .section1 .div2sec1 div p {
        position: absolute;
        top: 32%;
        left: 0%;
        margin: 0px 0px 0px 3%;
    }
    .section1 .div2sec1 h1 {
        font-size: 3.5em;
    }
}
@media screen and (max-width: 660px) {
    .section1 .div2sec1 div p {
        position: static; 
        width: 600px;
        margin: 15% 0px 8% 0px;
        margin-left: auto;
        margin-right: auto;
        word-break: break-word;
        overflow-wrap: break-word;
        white-space: normal;
    }
    #none {
        display: none;
    }
}



/**** La deuxième section ****/
@media screen and (max-width: 1120px) {
    .section2 {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        margin: 9.6% 2% 9.6% 6%;
    }
    /* .section2 h2 {
        width: 100%;
    } */
     .section2 .divsec2 .div2sec2 div {
        width: 75%;
        position: absolute;
        top: 25%;
        left: 10%;
     }
}