/* Le header de la page */
header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    margin: 2% 9.6% 1.6% 7%;
}
header .div2header {
    width: 30%;
}
header nav ul {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
header nav ul li a {
    font-family: "beyno", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    color: white;
    text-decoration: none;
}
header div a img {
    max-width: 140px;
}

/* La première section */
.section1 {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}
.section1 .div1sec1 img {
    width: 650px;
    max-width: 1400px;
}
.section1 .div2sec1 h1 {
    font-size: 3.7em;
    font-family: "beyno", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    color: #9E91B7;
    margin: 17.2% 0px 7.2% 7.2%;
}
.section1 .div2sec1 div {
    position: relative;
}
.section1 .div2sec1 div img {
    width: 700px;
    max-width: 784px;
}
.section1 .div2sec1 div p {
    width: 520px;
    max-width: 590px;
    position: absolute;
    top: 30%;
    left: 14%;
    text-align: justify;
}

/* La deuxième section */
.section2 {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    margin: 9.6% 7.4% 9.6% 7.4%;
}
.section2 h2 {
    font-size: 2.6875em;
    font-family: "wakanda-forever", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    color: #9E91B7;
    word-spacing: 20px;
    margin: 0% 0% 6% 0%;
}
.section2 .divsec2 {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}
.section2 .divsec2 h3 {
    font-size: 1em;
    font-weight: 100;
    margin: 0px 0px 15px 0px;
}
/* partie gauche */
.section2 .divsec2 .div1sec2 {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    height: 450px;
    margin: 0% 15px 0% 0%;
}
.section2 .divsec2 .div1sec2 .div11sec2 p {
    font-size: 1em;
    max-width: 525px;
}
.section2 .divsec2 .div1sec2 .div11sec2 p span {
    font-family: "wakanda-forever", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    text-transform: uppercase;
}
/* Le formulaire de réponse */
.section2 .divsec2 .div1sec2 .div12sec2 form {
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
    justify-content: space-between;
    width: max-content;
}
.section2 .divsec2 .div1sec2 .div12sec2 form #reponse {
    font-size: 2em;
    background-color: transparent;
    color: white;
    border: 2px solid  #F2CEF2;
    border-radius: 38px;
    width: 480px;
    height: 40px;
    padding: 0px 0px 10px 40px;
    margin: 0% 0% 10% 0%;
}
.section2 .divsec2 .div1sec2 .div12sec2 form #button {
    font-size: 1em;
    background-color: #F2CEF2;
    color: #021740;
    border: 2px solid  #F2CEF2;
    border-radius: 38px;
    width: 170px;
    height: 50px;
    margin: auto;
}
.section2 input::placeholder {
    font-size: 0.5em;
    color:  #F2CEF2;
  }
/* Le label invisible à l'écran mais visible aux lecteurs d'écran */
.section2 form .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
/* Partie droite */
.section2 .divsec2 .div2sec2 {
    position: relative;
}
.section2 .divsec2 .div2sec2 img {
    width: 600px;
    max-width: 784px;
}
.section2 .divsec2 .div2sec2 div {
    width: 450px;
    position: absolute;
    top: 30%;
    left: 10%;
    text-align: center;
}