/* Le header de la page */
/* #headerpos{
    position: relative;
} */
header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    margin: 1.5% 9.5% 3% 8%;
    /* position: fixed; */
}
header .div2header {
    width: 40%;
}
header nav ul {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
header nav ul li a {
    font-family: "beyno", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    color: white;
    text-decoration: none;
}
header div a img {
    max-width: 140px;
}


/* La première section */
.section1 {
    height: 674px;
    max-height: 106vh;
    display: flex;
    flex-flow: row;
    align-items: center;
    background: url("illustrations_logo/wakanda/Pantherwakanda1.png") scroll no-repeat top left;
    background-size: contain;
}
.section1 .divsec1 {
    margin: 0% 0% 0% 12%;
}
.section1 .divsec1 h1 {
    font-size: 4.25em;
    font-family: "beyno", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    color: #9E91B7;
    margin-bottom: 2%;
}
.section1 .divsec1 .div1sec1 {
    max-width: 486px;
    margin: 0px 30px 0px 0px;
}
.section1 .divsec1 div h2 {
    font-size: 2.6875em;
    font-family: "wakanda-forever", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    color: #9E91B7;
    margin-bottom: 8%;
    word-spacing: 0.8em;
}
.section1 .divsec1 div div p {
    text-align: justify;
}

/* La deuxième section */
.section2 {
    column-width: 400px;
    column-gap: 9%;
    padding: 9% 0% 0% 0%;
    margin: 0% 7.5% 4% 7.5%;
    background: url("illustrations_logo/wakanda/Pantherwakanda2.png") scroll no-repeat top center;
    background-size: contain;
}
.section2 div {
    margin: 0% 0% 12% 0%;
}
.section2 div h3 {
    font-size: 1.35em;
    font-family: "beyno", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    word-spacing: 0.3em;
    color: #9E91B7;
    margin: 0% 0% 4% 0%;
}
.section2 div p {
    text-align: justify;
    margin: 0% 0% 8% 0%;
}
/* L'iframe et ses videos */
.section2 div iframe {
    width: 100%;
    height: 250px;
    max-width: 100%;
    background-color: #3D2DA6;
    border: none;
    color: white;
}

.section2 div img {
    width: 100%;
    max-width: 640px;
}